.playlist {
    margin: 5rem 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    @media (max-width: 916px) {
        flex-direction: column;
    }
}
.image {
    img {
      height: 18rem;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
      }
}
.details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #e0dede;
    @media (max-width: 916px) {
        text-align: center;
    }
}
.title {
    color: white;
    font-size: 4rem;
    @media (max-width: 916px) {
        text-align: center;
        font-size: 2rem;
    }
}

.description {
    color: black;
    @media (max-width: 916px) {
        text-align: center;
        display: none;
    }
}