.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skeleton {
    background-color: rgba(0,0,0,0)!important; 
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    gap: 25px; 
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0), 0px 1px 1px 0px rgba(0,0,0,0), 0px 1px 3px 0px rgba(0,0,0,0)!important;
}

.container {
    padding: 40px 0px 0px 225px; 
    background: linear-gradient(transparent, rgba(0, 0, 0, 1)), rgb(32, 87, 100); 
    min-height: 1000px; 
    max-width: none;
}

.containerMin {
    padding: 80px 0px 0px 0px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 1)), rgb(32, 87, 100); 
    min-height: 1000px; 
    max-width: none;
}