.addTrack {
    color: white!important; 
    margin: 20px 0px 0px 0px; 
    text-align: center;
}

.addTrackModule {
    color: white!important; 
    margin-top: 30px!important;
}

.titleLogin {
    color: white; 
    text-align: center;
}

.gridLogin {
    display: flex; 
    gap: 20px;
}

.createModule {
    display: flex; 
    flex-direction: column;
}

.logout {
    color: white!important; 
    margin-top: 10px;
}

.white {
    color: white!important;
}

.green {
    color: green;
}

.volume {
    margin-left: auto;
    color: white;
}

.gridStep {
    margin: 70px 0; 
    height: 270px;
}

.cardStep {
    width: 600px; 
    background-color: rgba(0,0,0,0.1)!important; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}