.gridAlbumIt {
    width: 100px!important;
    margin: 0 20px;
}

.countTrack {
    font-size: 12px; 
    color: gray;
}

.deleteAlbumIt {
    color: white; 
    opacity: .8;
}

.pauseTrackIt {
    color: white; 
    opacity: .8;
}

.artistTrackIt {
    font-size: 12px;
    color: gray;
}

.gridTrackIt{
    width: 100px; 
    margin: 0 20px;
}